<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-encrypto" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Encrypto</name>
    <description>Cordova Encrypto Plugin</description>
    <repo>https://github.com/gapaus/cordova-plugin-encrypto.git</repo>

    <js-module name="encrypto" src="www/encrypto.js">
        <clobbers target="cordova.plugins.encrypto"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Encrypto">
                <param name="android-package" value="com.encryptotel.encrypto.Encrypto"/>
            </feature>
        </config-file>

        <source-file src="src/android/Encrypto.java" target-dir="src/com/encryptotel/encrypto"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Encrypto">
                <param name="ios-package" value="Encrypto" />
            </feature>
        </config-file>
        <header-file src="src/ios/Encrypto-Plugin-Bridging-Header.h" />
        <framework src="Security.framework" />
        <source-file src="src/ios/Encrypto.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="1.7.1"/>
    </platform>

</plugin>